#sidelist-container{
    background-color: gray;
    max-width: 300px;
    height: 100%;
    overflow-y: auto;
    padding-left: 5px;
    cursor: pointer;
    float: left;
    width: 500px;
    display: inline;
    border-radius: 10px;
}

#data-container{
    background-color: lightgray;
    height: 400px;
    width: 1000px;
    float: left;
    display: inline;
    margin-left: 10px;
    overflow-y: auto;
    border-radius: 10px;
    
}

#sidelist-container a:hover{
    
    text-decoration: none;
    
    
}

#sidelist-container > a{
    
    color: black;
}

.course-list > a  {
     background-color: gray;
     color:darkslategray;
     padding-left: 20px;

}

.lesson-list  {
    padding-left: 20px;

}


.subcourse-list div {
    display: block;
    color: white;
    padding-left: 40px;
}
.subcourse-list div:hover{

    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color: steelblue;
   

}

